{% extends 'base.html' %}

{% block content %}

{% if current_user %}
<style>
  body {
    background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-size: cover;            
    background-repeat: no-repeat; 

  }
  h1{
    text-align: center;
}
  form {
 display: flex;
 flex-direction: column;
 width: 50%;
 max-width: 100px;
 margin: 10px;
 padding: 0px;
 background-color: transparent;
 border-radius: 1px;
}

textarea {
height: 50px;
resize: vertical;
font-size: 1em;
border: none;

}

input[type="submit"] {
background-color: #3f51b5;
color: #fff;
border: none;
border-radius: 5px;
font-size: 1.2em;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #2c387e;
}

 label {
    flex-basis: 100px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    a {
      text-decoration: none;
      color: black;
    }
    
</style>
<h1>Discover Beaches {{ current_user['first_name'] }}</h1>
<section class="controls">
  <form action="/sessions/delete" method="POST">
    <button>Log out</button>
  </form>

  <a href="/travels/new">Upload</a>
</section>

<section class="travels">
  {% for travel in travels: %} 
  <section class="travel">
    
      <h2>{{ travel['name'] }}</h2>
      <img src="{{ travel['image_url'] }}" alt=""><br>
      <section class="controls"></section>
        <a href="/travels/{{ travel['id'] }}/edit">Edit</a>

        <form action="/travels/{{ travel['id'] }}/delete" method="POST">
          <button>Delete</button>
        </form>

        <p1>Description:</p1><p>{{ travel['description'] }}</p>

        <form action="/travels/{{ travel['id'] }}/likes" method="POST">
          <button>Like</button>
        </form>


  
        <form action="/travels/{{ travel['id'] }}/comments" method="POST">
          <label for="content">Comment:</label>
          <textarea id="content" placeholder="Write your commenthere" name="content" required></textarea><br>
          <input type="submit" value="Submit">
        </form>
    

      </section>
  </section>
  {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign up</a>
<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}